/* font styles (Universal) */
#azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header styles start */

/* nav start */

nav>p {
    color: rgba(13, 19, 33, 1);
    font-size: 28px;
    font-weight: bolder;
}

nav>button {
    opacity: 80%;
    border-radius: 8px;
    width: 244px;
    height: 57px;
    color: rgba(13, 19, 33, 1);
    font-size: 20px;
    font-weight: 600;
}

.nav-tag {
    display: flex;
    justify-content: space-between;
    padding: 50px 174px 50px 150px;
}

/* nav end */

/* banner start */

.banner {
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-items: center;

}

.banner-body {
    padding: 26px 221px 45px 221px;
    width: 998px;
    height: 581px;
}

.banner-title {
    color: rgba(13, 19, 33, 1);
    font-size: 48px;
    font-weight: 900;
    width: 998px;
    height: 136px;
    line-height: 68px;
    letter-spacing: 0%;
}

.banner-subtitle {
    color: rgba(13, 19, 33, 1);
    width: 852px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
    padding-left: 73px;
    line-height: 26px;
}

.banner-btn {
    background-color: rgba(13, 19, 33, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    width: 244px;
    height: 65px;

    margin-bottom: 45px;
}

/* banner end */

/* header styles end */

/* question section styles start */

.question {
    background-color: rgba(13, 19, 33, 0.02);
    width: 1140px;
    height: 1393px;
    border-radius: 16px;
    text-align: center;
    margin: 74px 152px 90px 148px;
}

.question-head {
    padding: 80px 97px;
}

.question-body {
    padding: 0px 47px 48px 47px;
}

.question-title {
    color: rgba(13, 19, 33, 1);
    width: 852px;
    height: 37px;
    font-size: 32px;
    font-weight: 800;
}

.question-subtitle {
    color: rgba(13, 19, 33, 1);
    width: 852px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
}

.question-blog-view {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

.question-blog-body {
    width: 477px;
    height: 219px;
    margin: 58.95px 98.3px 58.5px 48px;
    text-align: left;
}

.question-blog-title {
    color: rgba(13, 19, 33, 0.7);
    width: 390px;
    height: 72px;
    line-height: 36px;
    font-family: 24px;
    font-weight: bold;
}

.question-blog-extra {
    color: rgba(13, 19, 33, 0.7);
    width: 477px;
    height: 72px;
    line-height: 36px;
    font-family: 24px;
    font-weight: bold;

}

.question-blog-subtitle {
    color: rgba(13, 19, 33, 1);
    width: 468px;
    height: 52px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
    margin-bottom: 32px;
}

.question-blog-btn {
    color: rgba(13, 19, 33, 1);
    font-size: 20;
    font-weight: 600;
    padding: 12px 20px;
    margin-top: 32px;
    margin-right: 300px;
    width: 171px;
    height: 47px;
    opacity: 70%;
}

.question-blog-image {
    width: 274.17px;
    height: 240px;
    margin: 48px 48px 48px 0px;
}


/* question section styles end */

/* Inspiration section start */

.Inspiration {
    width: 1140px;
    height: 775px;
    margin: 90px 152px 151px 148px;
    text-align: center;
    justify-items: center;
}

.Inspiration-body {
    color: rgba(13, 19, 33, 1);
    width: 852px;
    height: 113px;
    margin: 0px 144px 48px 144px;
}

.Inspiration-title {
    font-size: 32px;
    font-weight: 800;
    line-height: auto;
}

.Inspiration-subtitle {
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
    line-height: 26px;
}

.Inspiration-video {
    margin-top: 100px;
    padding: 32px 32px 32px 32px;
    border-radius: 16px;
    box-shadow: 0px 1px 1px 2px rgba(13, 19, 33, 0.2);

}

.Inspiration-iframe {
    border-radius: 16px;
}

/* Inspiration section end */

/* target section start */

.target {
    width: 1140px;
    height: 460px;
    text-align: center;
    margin: 151px 150px 111px 150px;
}

.target1-head {
    color: rgba(13, 19, 33, 1);
    width: 946px;
    height: 113px;
    margin: 0px 97px 48px 97px;
}

.target1-title {
    font-size: 32px;
    font-weight: 800;
}

.target1-subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    opacity: 70%;
    line-height: 26px;
}

.target1-card {
    width: 1140px;
    height: 299px;
    display: flex;
    gap: 24px;
}

.card1 {
    text-align: left;
    justify-items: flex-start;
    background-color: rgba(255, 76, 30, 0.05);
    width: 364px;
    height: 299px;
    border-radius: 16px;
    padding: 40px 40px;
}

.card-image {
    margin-bottom: 24px;
}

.card-title {
    width: 284px;
    height: 36px;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}

.card-subtitle {
    width: 284px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 70%;
    margin-bottom: 24px;
}

.card-anchor {
    width: 284px;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    line-height: auto;
    margin-top: 100px;
    color: rgba(13, 19, 33, 1);
}

.card2 {
    text-align: left;
    justify-items: flex-start;
    border-color: rgba(0, 76, 232, 0.05);
    width: 364px;
    height: 299px;
    border-radius: 16px;
    padding: 40px 40px;
}

.card3 {
    text-align: left;
    justify-items: flex-start;
    background-color: rgba(255, 223, 0, 0.05);
    width: 364px;
    height: 299px;
    border-radius: 16px;
    padding: 40px 40px;
}

/*  target section end */

/* support section start */

.support {
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 49px 150px 80px 100px;
}

.support-body {
    width: 1044px;
    height: 185px;
    text-align: center;
    justify-items: center;
    justify-content: center;
    padding: 24px 48px 64px 48px;
}

.support-head {
    padding: 0px 157px 24px 157px;
}

.support-title {
    color: rgba(255, 255, 255, 1);
    width: 292px;
    height: 36px;
    line-height: 36px;
    font-size: 32px;
    font-weight: bold;
    justify-self: center;
    padding: 0px 219px;
}

.support-subtitle {
    color: rgba(255, 255, 255, 1);
    width: 606px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 16px 62px 0px 62px;
}

.support-input {
    /* padding: 24px 180px 64px 180px; */
    width: 684px;
    height: 57px;
    /* background-color: rgba(255, 255, 255, 1); */
    gap: 16px;
    display: flex;

}

.input1 {
    color: rgba(13, 19, 33, 0.4);
    background-color: rgba(255, 255, 255, 1);
    width: 548px;
    height: 10px;
    padding: 19px 20px 19px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.input2 {
    color: rgba(13, 19, 33, 1);
    background-color: rgba(255, 255, 255, 1);
    width: 120px;
    height: 47px;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/* support section end */

/* footer start */
.footer{
    background-color: rgba(13, 19, 33, 0.03);
    width: 1440px;
    height: 104px;
    margin-top: 80px;
}
.footer-body{
    display: flex;
   justify-content: space-between;
   width: 1140px;
   height: 36px;
   padding: 34px 100px 34px 100px;
   /* gap: 526px; */
}
.footer-title{
width: 456px;
height: 23px;
font-size: 10px;
font-weight: 600;
color: rgba(13, 19, 33, 1);
}
.footer-image{
    display: flex;
    width: 157px;
    height: 36px;
    gap: 24px;
}